{% extends 'base.html' %}
{% block content %}
    <div class="ui column stackable center page grid">
        <div class="three wide column"></div><!-- empty div just padding -->
        <h1 class="ui ten wide column form segment raised">
            Coursera Courses Download Links<br><br>
            {% for file in files %}
                ►<a href={{file.url}}>
                    {{file.file_name}}
                </a>
                <br>
            {%endfor%}
        </h1>
    </div>
{% endblock %}