{% extends 'base.html' %}
{% block content %}
    <div class="ui column stackable center page grid">
        <div class="three wide column"></div><!-- empty div just padding -->
        <h1 class="ui ten wide column form segment raised">
            Coursera Courses Download Links<br><br>
            {% for link in links %}
                <a href={{link.url}}>
                    {{link.course_title}}
                </a>
                <br>
            {%endfor%}
        </h1>
    </div>
{% endblock %}