{% extends 'base.html' %}
{% block content %}
    <script type="text/javascript"> 
            var delay = 12000; 
            window.setTimeout(function(){ window.location.href = "{% url 'downloading' %}";}, delay);
    </script>
    <div class="ui column stackable center page grid">
        <div class="three wide column"></div><!-- empty div just padding -->
        <p class="ui ten wide column form segment raised">
            Download Complete !!
            {{email_body}}
        </p>
    </div>
{% endblock %}