{% extends 'base.html' %}
{% block content %}
    <script type="text/javascript"> 
            var delay = 5000; 
            window.setTimeout(function(){ window.location.href = "{% url 'courses' %}";}, delay);
    </script>
    <div class="ui column stackable center page grid">
        <div class="three wide column"></div><!-- empty div just padding -->
        <h1 class="ui ten wide column form segment raised">
            <p>Thank You for using this website...
            Please check your mail for the download link. 
            It may take 10 minutes for the download link to prepared......</p>
        </h1>
    </div>
{% endblock %}