{% extends 'base.html' %}
{% block content %}
    <div class="ui column stackable center page grid">
        <div class="three wide column"></div><!-- empty div just padding -->
        <h1 class="ui ten wide column form segment raised">
            <p>Thank You for using this website...
            Please check your mail or don't close this tab for the download link. 
            It may take 10 minutes for the download link to appear</p>
            {%if request.session.email_body%}
                {{Download Complete !!
                <a href={{request.session.email_body}}>{{request.session.email_body}}</a>
            {%endif%}
        </h1>
    </div>
{% endblock %}