{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <script type="text/javascript"> 
        function Click(){
            var delay = 8000; 
            window.setTimeout(function(){ window.location.href = "{% url 'downloading' %}";}, delay);
        };
    </script>
    {% if error_message %}
        {{error_message}}
    {%endif%}
    <p class="ui column stackable center page grid">
    <div class="four wide column"></div>
        <h4 class="ui form segment raised">
            Download Coursera Courses here....
            Email is used to send you download link.
            <br>
            ------------------------------------------------
            <br>
            To download you have to enroll the course first by logging with the facebook login
            with the credentials as:<br> <a href="https://www.coursera.org/courses?authMode=login" target="_blank">Login to Coursera</a>
            --------------------------------------------------
            <br>
            FB_EMAIL = kahodase@smartbusiness.me<br>
            FB_PASSWORD = Ph87WQ*^9BQV%u#sKnu4<br>
            --------------------------------------------------
        </h4>
    </p>
    <div class="ui column stackable center page grid">
        <div class="four wide column"></div><!-- empty div just padding -->
        <form method="post" enctype="multipart/form-data" class="ui seven wide column form segment raised">
            {% csrf_token %}
            <div class="field">
                <label>Email</label>
                {{form.email}}
            </div>
            <div class="field">
                <label>Coursera Link</label>
                {{form.course_link}}
            </div>
            <button class="ui button blue" type="submit" onclick="Click()">Download</button>
        </form>
    </div>
{% endblock %}
